@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind custom styles */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: white;
  color: black;
}

.login-logo {
  max-width: 174px;
  width: 100%;
  margin: 50px auto;
}

.input-field {
  border: 1px solid #999999;
  height: 40px;
  border-radius: 4px;
  width: 100%;
  padding: 24px;
  margin: 16px 0 24px 0;
}

.dash-logo {
  max-width: 174px;
  width: 100%;
}

.course-preview {
  max-width: 170px;
  width: 100%;
  height: 170px;
}

.head-logo {
  max-width: 174px;
  width: 100%;
}
